<h1>User's Table:</h1>
 
<table class="user-table">
  <thead class="user-table__thead">
    <tr>
      <th class="user-table__th">User Name</th>
      <th class="user-table__th">User Age</th>
      <th class="user-table__th">Total of Contacts</th>
      <th class="user-table__th">Total of Telephones</th>
      <th class="user-table__th">Details</th>
    </tr>
  </thead>

  <tbody class="user-table__tbody">
    <% @users.each do |user| %>
      <tr>
        <td class="user-table__td"><%= user.name %></td>
        <td class="user-table__td"><%= user.age %></td>
        <td class="user-table__td"><%= user.contacts.count %></td>
        <td class="user-table__td"> <%= user.telephones.count %> </td>
<<<<<<< HEAD
        <td class="user-table__td"><%= link_to 'User Details', user_show_path(user.id) %></td>
=======
        <td class="user-table__td"><%= link_to 'User Details', user_path(user.id) %></td>
>>>>>>> refs/remotes/origin/main
      </tr>
    <% end %>  
  </tbody>
</table>

<div>
    <button> <%= link_to 'New User', users_new_path %> </button>
</div>